node_modules
.env
.env.*
.DS_Store
.next
dist
build
coverage
backend-worker/whatsapp_sessions
backend-worker/.wwebjs_auth
backend-worker/.wwebjs_cache
backend-worker/data.json
frontend-vercel/.next
frontend-vercel/out
